---
layout: default
---
{% assign year = page.date | date: '%Y' %}
{% assign tags = page.tags | join: '' %}
{% assign categories = page.categories | join: '' %}

{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    <figure class="book-cover">
        {% if page.cover %}
          <img alt="{{ page.title }} cover" src="{{ site.baseurl }}/{{ page.cover }}">
        {% elsif page.olid %}
          <img alt="{{ page.title }} cover" src="https://covers.openlibrary.org/b/olid/{{ page.olid }}-L.jpg?default=false">
        {% elsif page.isbn %}
          <img alt="{{ page.title }} cover" src="https://covers.openlibrary.org/b/isbn/{{ page.isbn }}-L.jpg?default=false">
        {% endif %}
      </figure>

    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.author %}
      <p class="post-meta"><h3>
        {% if page.author %}
          {{ page.author }}
        {% endif %}
      {% if page.author and page.released %} &nbsp;&middot;&nbsp; {% endif %}
      {% if page.released %}
        {{ page.released }}
      {% endif %}
      </h3>
      </p>
    {% endif %}

    {% if page.started or page.finished or page.stars %}
      <p class="post-meta">
        {% if page.started %}
          <i class="fa-solid fa-play fa-sm" style="color: var(--global-tip-block) !important"></i> <em>{{ page.started }}</em>
        {% endif %}
        {% if page.finished %}
          {% if page.started %}
            &nbsp;&middot;&nbsp;
          {% endif %}
          <i class="fa-solid fa-stop fa-sm" style="color: #e56565 !important"></i> <em>{{ page.finished }}</em>
        {% endif %}
        {% if page.stars %}
          {% if page.started or page.finished %}
            &nbsp;&middot;&nbsp;
          {% endif %}
          {% assign full_stars = page.stars | floor %}
          {% assign half_star = page.stars | minus: full_stars %}
          {% assign empty_stars = 5 | minus: full_stars %}
          {% if half_star > 0 %}
            {% assign empty_stars = empty_stars | minus: 1 %}
          {% endif %}
          {% for i in (1..full_stars) -%}
            <i class="fa-solid fa-star fa-sm"></i>
          {%- endfor -%}
          {%- if half_star > 0 %}<i class="fa-solid fa-star-half-stroke fa-sm"></i>{% endif -%}
          {%- for i in (1..empty_stars) -%}
            <i class="fa-regular fa-star fa-sm"></i>
          {%- endfor -%}
        {% endif %}
      </p>
    {% endif %}

    {% if tags != '' %}
      <p class="post-tags" style="margin-bottom: 0;">
        {% for tag in page.tags %}
          <a href="{{ tag | slugify | prepend: '/books/tag/' | relative_url }}"> <i class="fa-solid fa-hashtag fa-sm"></i> {{ tag }}</a>
          {% unless forloop.last %}
            &nbsp;
          {% endunless %}
        {% endfor %}
      </p>
    {% endif %}
    
    {% if categories != '' %}
      <p class="post-tags" style="margin-top: -20px;">
        {% for category in page.categories %}
          <a href="{{ category | slugify | prepend: '/books/category/' | relative_url }}"> <i class="fa-solid fa-tag fa-sm"></i> {{ category }}</a>
          {% unless forloop.last %}
            &nbsp;
          {% endunless %}
        {% endfor %}
      </p>
    {% endif %}
    
    <hr>
  </header>

  <article>
    {% if content == '' %}
      <figure class="empty-review">
        {% if page.cover %}
          <img class="empty-review-cover" alt="{{ page.title }} cover" src="{{ site.baseurl }}/{{ page.cover }}">
          <figcaption class="empty-review-caption">
            Cover of <em>{{ page.title }}</em>
          </figcaption>
        {% endif %}
      </figure>
      {% assign status = page.status | upcase %}
      <div class="clearfix">
        <h4>{{ status }}</h4>
      </div>
    {% else %}
      <br class="mobile-break" clear="right">
      {{ content }}
    {% endif %}
  </article>

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>

<style>
  .img-natural {
  max-width: 100%;
  width: auto !important;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  
  figure {
    float: none;
    width: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    }

  figure > img {
    vertical-align: top;
    display: block;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
    width: auto;
    }

  figure figcaption {
    display: block;
    caption-side: bottom;
    text-align: center;
    }

  @media screen and (min-width: 600px)  {
    .empty-review{
      float: left;
      display: block; /* in-line block; */
      margin: 0px 0px 0px 0px;  /* adjust as needed */
      padding: 0px 0px 0px 20px;
      }

    .empty-review-caption {
      caption-side: left;
      text-align: left;
      }

    .empty-review-cover {
      width:250px;
      vertical-align: top;
      padding-right: 40px;
      }

    figure.book-cover {
      float: right;
      display: inline-block;
      margin: 0px 0px 20px 20px;
      padding: 0px;
      }

    figure.book-cover img {
      height: 160px;
      vertical-align: top;
      }

    figure.book-cover figcaption {
      caption-side: bottom;
      text-align: left;
      max-height: 160px;
      }

    /* Regular figures in content - centered */
    article figure:not(.book-cover) {
      float: none;
      display: block;
      margin: 20px auto;
      max-width: 90%;
      text-align: center;
      }

    article figure:not(.book-cover) img {
      max-width: 90%;
      height: auto;
      }

    article figure:not(.book-cover) figcaption {
      text-align: center;
      }

    .mobile-break { display: none; }

  /* =Blockquote
  -------------------------------------------------------------- */
  blockquote {
      position: relative;
      marign: 0px;
      display: table;
  }
  blockquote:before, blockquote:after {
   /* properties to format the block quotes /*
  }
  blockquote:before {
      top: 0;
      left: 0;
  }
  blockquote:after {
      top: 0;
      right: 0;
  }
</style>

